@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "/Pages/Shared/_LightLayout.cshtml";
}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="w-100 m-auto form-signin">
        <img src="~/assets/logo.svg" class="p-2"/>

        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password"/>
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe"/>
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Sign in</button>
                </div>
                <div class="d-flex justify-content-between fs-6">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up</a>
                    </p>
                    @* <p> *@
                    @*     <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a> *@
                    @* </p> *@
                </div>
            </form>
        </section>

        @if ((Model.ExternalLogins?.Count ?? 0) > 0)
        {
            <div class="d-flex justify-content-between align-items-center">
                <hr class="flex-grow-1 "/>
                <div class="px-3">OR</div>
                <hr class="flex-grow-1"/>
            </div>

            <section>

                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="btn btn-primary w-100 btn-lg" name="provider" value="@provider.Name" title="Log in with @provider.DisplayName">
                                    <i class="bi bi-@provider.DisplayName?.ToLower()"></i>
                                    Log in with @provider.DisplayName
                                </button>
                            }
                        </p>
                    </div>
                </form>

            </section>
        }

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}